.container {
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* or any specific width */
}
.fieldset-container {
  width: 200px;
}
section {
  margin-top: 20px;
}
form {
  margin-top: 20px;
}

h1 {
  margin-top: 20px;
}
label {
  margin-top: 20px;
}
.submit {
  display: block;
  margin-top: 20px;
  width: 33%;
  padding: 10px;
  background-color: bisque;
  border-radius: 5px;
  border: none !important;
}
.submit:hover {
background-color: brown;
color: white;
}